@font-face {font-family:"Lobster1.4";src:url("../fonts/Lobster1_4/Lobster_1_4.eot?") format("eot"),url("../fonts/Lobster1_4/Lobster_1_4.woff") format("woff"),url("../fonts/Lobster1_4/Lobster_1_4.ttf") format("truetype");font-weight:normal;font-style:normal;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;  
}

body {
	
	margin: 0;
	padding: 0;
	height: 100%; 
	line-height: 1;
}



.container{
	width: 1170px;
	display: table;
	margin: 0 auto;
}

.header .logo {
	font-family:"Lobster1.4";
	font-size:43px;
	padding: 30px 0;
}

.header .logo a {
	font-size:43px;
	color:#44c0c2;
	display:block;
}

.nav ul {
	overflow:hidden;
}

.nav ul li{
	margin: 0;
	padding: 0;
	float:left;	
}

.nav ul li:hover {
	background: #f8f9fb;
}

.nav ul li a {
	text-decoration: none;
	padding: 45px 25px;
	

	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #484c55;
	display: block;
	border-bottom: 2px solid transparent;
}
.nav ul {
	float: right;
}

.nav ul li a:hover {
	color: #49cbcd;
	border-bottom: 2px solid #49cbcd;
}

.nav ul li{
	float: left;
}

.nav .toggle-menu {
	position: fixed;
	top: 40px;
	right: 50px;
	display: none;
}

.nav .toggle-menu button {
	border: none;
	background: #44c0c2;
	color: #fff;
	padding: 6px 10px;
	cursor: pointer;
	outline: none;
}
.nav .toggle-menu button .fa {
	font-size: 18px;
}

.expended{
	
	z-index:5;
}

.main{
	
}

.bxslider li{
	
	max-height:565px;
	box-sizing:border-box;
	overflow:hidden;
}


.main_heading{
	
	font-family: 'Open Sans';
	font-weight:600;
	font-size:63px;
	color:#fff;
	position:absolute;
	z-index:10;
	top:150px;
	text-align:center;
	
}

.main_text{
	position:absolute;
	top:250px;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:23px;
	color:#fff;
	
	
}

.Learn_More{
	position:absolute;
	top:300px;
	text-align:center;
}


.LearnMore{
	background:transparent;
	border:3px solid #fff;
	border-radius:5px;
	padding:20px 40px;
	font-family:'Open Sans';
	font-weight:600;
	font-size:26px;
	color:#fff;
	cursor:pointer;
}


.color1{
	
	position:relative;
	background:#49cbcd;
}
.color2{
	background:#9fc78c;
}

.color3{
	background:#a4abc3;
}

.color4{
	background:#a9c855;
}

.circle{
	position:relative;
	border-radius:50%;
	width:100px;
	height:100px;
	border:3px solid #49cbcd;
	margin:0 auto 50px auto;
}

.fa-rocket, .fa-desktop, .fa-lightbulb-o, .fa-mobile{
	position:absolute;
	top:25px;
	left:25px;
	margin: auto;
	font-size:40px !important;
	color:#49cbcd;
}


.fa-lightbulb-o{
	top:25px;
	left:35px;
	
}

.fa-mobile{
	left:37px;
}

.service1, .service2, .service3, .service4{
	margin:70px 0px 98px 0;
}

.Custom_Designs, .Web_Design, .Blog_Pages, .Mobile_Friendly{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	color:#4e525d;
	display:block;
	text-align:center;
}

.text1{
	display:inline-block;
	text-align:center;
	line-height:25px;
	margin-top:30px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#4e525d;
	padding:0 25px;
}

.read_more{
	display:block;
	margin:20px auto 0px auto;
	padding:10px 12px 10px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	border:none;
	cursor:pointer;
	border-radius:3px;
	background:#49cbcd;
}

.wrapper{
	background:#f1f1f1;
}

.Portfolio_Title{
	display:block;
	text-align:center;
	font-size:42px;
	color:#4e525d;
	padding:60px 0;
	font-family: 'Open Sans', sans-serif;
}



.portfolio-image1,.portfolio-image2, .portfolio-image3, .portfolio-image4, .portfolio-image5, .portfolio-image6{
	display:inline-block;
	background:#ac94da;
	height:314px;
	width:370px;
	overflow:hidden;
	margin-bottom:17px;
}

.portfolio-image1{
	
	background-image:url(../images/portfolio_pic1.png);
	
}

.portfolio-image2{
	
	background-image:url(../images/portfolio_pic2.png);
	
}

.portfolio-image3{
	
	background-image:url(../images/portfolio_pic3.png);
	
}

.portfolio-image4{
	
	background-image:url(../images/portfolio_pic4.png);
	
}

.portfolio-image5{
	
	background-image:url(../images/portfolio_pic5.png);
	
}

.portfolio-image6{
	
	background-image:url(../images/portfolio_pic6.png);
		
}

.button{
	text-align:center;
	display:inline-block;
	width:100%;
}

.all_works{
	background:#49cbcd;
	font-size:24px;
	color:#fff;
	font-weight:600;
	padding:25px 42px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	margin:43px 0 100px;
}